.teacher-lessons {
  .upcoming-lessons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;

    .upcoming-lesson {
      display: flex;
      box-shadow: -1px -1px 14px 0px rgba(0,0,0,0.09);
      padding: 1rem;
      cursor: pointer;

      .avatar {
        width: 30px;
        height: 30px;
      }
    }
  }
}
