<div class="header">
  <div class="header-content">
    <a class="logo" [routerLink]="['home']" [relativeTo]="null">Extra lessons</a>

    <div class="navigation-links">
      <a [routerLink]="['home']" [relativeTo]="null">Home</a>
      <ng-container *ngIf="auth.isAuthenticated()">
        <a [routerLink]="['dashboard']" [relativeTo]="null">Dashboard</a>
      </ng-container>
    </div>

    <div class="authorization">
      <ng-container *ngIf="!auth.isAuthenticated(); else logoutBtn">
        <button class="register-btn" (click)="onClickLogin()">Register</button>
        <button class="login-btn" (click)="onClickLogin()">Login</button>
      </ng-container>

      <ng-template #logoutBtn>
        <button class="register-btn" (click)="logout()">Logout</button>
      </ng-template>
    </div>
  </div>
</div>
