.user-review {
  display: flex;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: -1px -1px 14px 0px rgba(0,0,0,0.09);
  gap: 1rem;

  .reviewer-avatar {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    background: center/cover #cbd4db;
  }

  .rating-stars {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.5rem;

    .rating-star {
      width: 16px;
    }
  }
}
