<div class="modal-container">
  <div class="modal-header">
    <h1 class="bold">Create post</h1>
    <div class="modal-close" (click)="dismiss()">
      <img class="icon-default" src="assets/ico_cross.svg" alt="">
      <img class="icon-hovered" src="assets/ico_cross_purple.svg" alt="">
    </div>
  </div>

  <form [formGroup]="createPostForm">
    <p class="semi-bold">Title</p>
    <input class="default-input" formControlName="title" type="text" placeholder="Enter post title...">
    <p class="small red mb-2" *ngIf="(title.touched || title.dirty) && title.invalid">
      Title is required
    </p>
    <p class="small red mb-2" *ngIf="title.value?.length > maxTitleLength">
      Title is too long
    </p>

    <p class="semi-bold">Some lines about you, your experiences or personality😎</p>
    <textarea rows="9" formControlName="about" placeholder="Tell something about yourself..."></textarea>
    <p class="small red mb-2" *ngIf="(about.touched || about.dirty) && about.invalid">
      Information about you is required
    </p>
    <p class="small red mb-2" *ngIf="about.value?.length > maxAboutLength">
      Max {{ maxAboutLength }} symbols allowed for this field
    </p>
    <p class="small text-right">{{ about.value.length }}/{{ maxAboutLength }}</p>
  </form>
  <button class="button fill big full"
          [class.disabled]="createPostForm.invalid"
          [disabled]="createPostForm.invalid"
          (click)="create()">Create</button>
</div>
